html{
    background-color: white;
}
h1,h2,h3{
    color:darkred;
}
.emoji{
    font-size: 2.5em;
    text-align: center;
}
#main{
    display: block;
    margin:0 auto;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .02em;
    text-wrap: pretty;
    padding:1em;
    font-size: 1.1em;
    color: black;
    max-width: 65ch;
    .info{
       
        text-align: center;
        .name{
            font-size: 2.5em;
            margin-bottom: .5em;
        }
        p+p{
            margin-top: .4em;
        }
    }
    .resume{
        h2{
            border-top: 1px solid gray;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2em;
            padding-top: .3em;
        }
        h3{
            margin-bottom: 0;
        }
        h4{
            margin-top: .3em;
            /* text-align: center; */
            font-style: italic;
        }
        ul{
            margin-left:1em;
        }
        li{
            margin-bottom: .5em;;
        }


    }
}